.register,
.login {
  .error-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 228, 228);
    color: red;
    padding: 10px;
    border-radius: 10px;
  }
  .success-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(229, 255, 228);
    padding: 10px;
    border-radius: 10px;
    color: green;
  }
}
