::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-teal);
  border-radius: 1ex;
}
